In [6]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT *
        FROM FACILITIES
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
(0, 'Tennis Court 1', 5, 25, 10000, 200)
(1, 'Tennis Court 2', 5, 25, 8000, 200)
(2, 'Badminton Court', 0, 15.5, 4000, 50)
(3, 'Table Tennis', 0, 5, 320, 10)
(4, 'Massage Room 1', 9.9, 80, 4000, 3000)
(5, 'Massage Room 2', 9.9, 80, 4000, 3000)
(6, 'Squash Court', 3.5, 17.5, 5000, 80)
(7, 'Snooker Table', 0, 5, 450, 15)
(8, 'Pool Table', 0, 5, 400, 15)

## Question 10
Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

In [7]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT name, 
            sum(CASE
            WHEN Bookings.memid = 0 THEN Bookings.slots * Facilities.guestcost
            WHEN Bookings.memid > 0 THEN Bookings.slots * Facilities.membercost
            END) AS Total_Revenue

        FROM Bookings

        LEFT JOIN Facilities
            on Bookings.facid = Facilities.facid

        LEFT JOIN Members
            on Bookings.memid = Members.memid

        GROUP BY name

        ORDER BY 
            SUM(CASE
                WHEN Bookings.memid = 0 THEN Bookings.slots * Facilities.guestcost
                WHEN Bookings.memid > 0 THEN Bookings.slots * Facilities.membercost
                END) DESC
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Massage Room 1', 50351.600000000275)
('Massage Room 2', 14454.599999999995)
('Tennis Court 2', 14310)
('Tennis Court 1', 13860)
('Squash Court', 13468.0)
('Badminton Court', 1906.5)
('Pool Table', 270)
('Snooker Table', 240)
('Table Tennis', 180)

## Question 11: Produce a report of members and who recommended them in alphabetic surname,firstname order

In [8]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
SELECT m1.surname as Member_Last_Name, m1.firstname Member_First_Name, m2.surname as Recommeneded_By_Last, m2.firstname as Recommended_By_First_Name
FROM Members AS m1
INNER JOIN Members as m2
ON m1.recommendedby = m2.memid
WHERE m1.recommendedby <> ""
ORDER BY m1.surname, m1.firstname
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Bader', 'Florence', 'Stibbons', 'Ponder')
('Baker', 'Anne', 'Stibbons', 'Ponder')
('Baker', 'Timothy', 'Farrell', 'Jemima')
('Boothe', 'Tim', 'Rownam', 'Tim')
('Butters', 'Gerald', 'Smith', 'Darren')
('Coplin', 'Joan', 'Baker', 'Timothy')
('Crumpet', 'Erica', 'Smith', 'Tracy')
('Dare', 'Nancy', 'Joplette', 'Janice')
('Genting', 'Matthew', 'Butters', 'Gerald')
('Hunt', 'John', 'Purview', 'Millicent')
('Jones', 'David', 'Joplette', 'Janice')
('Jones', 'Douglas', 'Jones', 'David')
('Joplette', 'Janice', 'Smith', 'Darren')
('Mackenzie', 'Anna', 'Smith', 'Darren')
('Owen', 'Charles', 'Smith', 'Darren')
('Pinker', 'David', 'Farrell', 'Jemima')
('Purview', 'Millicent', 'Smith', 'Tracy')
('Rumney', 'Henrietta', 'Genting', 'Matthew')
('Sarwin', 'Ramnaresh', 'Bader', 'Florence')
('Smith', 'Jack', 'Smith', 'Darren')
('Stibbons', 'Ponder', 'Tracy', 'Burton')
('Worthington-Smyth', 'Henry', 'Smith', 'Tracy')

## Question 12 Find the facilities with their usage by member, but not guests

In [10]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
SELECT f.name AS Facility_Name, m.surname as LastName, m.firstname as FirstName, SUM(b.slots) * 30 as Facility_Usage_Minutes 
FROM Bookings as b
LEFT JOIN Facilities as f
on b.facid = f.facid
LEFT JOIN Members as m
on b.memid = m.memid
WHERE b.memid <> 0
GROUP BY Facility_Name, b.memid
ORDER BY SUM(b.slots)*30 DESC
        """
    cur.execute(query1)
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)


def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks
('Badminton Court', 'Smith', 'Darren', 12960)
('Pool Table', 'Rownam', 'Tim', 8460)
('Massage Room 1', 'Rownam', 'Tim', 5280)
('Tennis Court 1', 'Butters', 'Gerald', 5130)
('Tennis Court 2', 'Boothe', 'Tim', 5040)
('Table Tennis', 'Rownam', 'Tim', 4500)
('Snooker Table', 'Joplette', 'Janice', 4260)
('Tennis Court 2', 'Owen', 'Charles', 4230)
('Tennis Court 2', 'Baker', 'Anne', 3420)
('Squash Court', 'Baker', 'Anne', 3300)
('Badminton Court', 'Smith', 'Tracy', 3060)
('Tennis Court 2', 'Jones', 'David', 2970)
('Badminton Court', 'Mackenzie', 'Anna', 2880)
('Tennis Court 2', 'Stibbons', 'Ponder', 2880)
('Pool Table', 'Baker', 'Timothy', 2850)
('Tennis Court 1', 'Smith', 'Tracy', 2790)
('Tennis Court 1', 'Tracy', 'Burton', 2790)
('Snooker Table', 'Smith', 'Tracy', 2700)
('Snooker Table', 'Boothe', 'Tim', 2700)
('Table Tennis', 'Bader', 'Florence', 2580)
('Tennis Court 1', 'Jones', 'David', 2520)
('Pool Table', 'Mackenzie', 'Anna', 2490)
('Tennis Court 1', 'Dare', 'Nancy', 2430)
('Squash Court', 'Tracy', 'Burton', 2340)
('Massage Room 1', 'Boothe', 'Tim', 2280)
('Tennis Court 1', 'Smith', 'Jack', 2250)
('Snooker Table', 'Butters', 'Gerald', 2160)
('Massage Room 1', 'Farrell', 'Jemima', 2040)
('Massage Room 1', 'Butters', 'Gerald', 1980)
('Snooker Table', 'Bader', 'Florence', 1980)
('Pool Table', 'Smith', 'Tracy', 1920)
('Badminton Court', 'Butters', 'Gerald', 1890)
('Massage Room 1', 'Tracy', 'Burton', 1860)
('Massage Room 1', 'Smith', 'Darren', 1740)
('Tennis Court 1', 'Joplette', 'Janice', 1710)
('Tennis Court 2', 'Smith', 'Darren', 1710)
('Table Tennis', 'Smith', 'Darren', 1680)
('Table Tennis', 'Smith', 'Tracy', 1680)
('Massage Room 1', 'Smith', 'Jack', 1620)
('Table Tennis', 'Genting', 'Matthew', 1620)
('Massage Room 1', 'Genting', 'Matthew', 1560)
('Tennis Court 1', 'Owen', 'Charles', 1530)
('Tennis Court 1', 'Pinker', 'David', 1530)
('Massage Room 1', 'Baker', 'Timothy', 1500)
('Table Tennis', 'Owen', 'Charles', 1500)
('Badminton Court', 'Stibbons', 'Ponder', 1440)
('Table Tennis', 'Tracy', 'Burton', 1440)
('Table Tennis', 'Baker', 'Timothy', 1440)
('Snooker Table', 'Dare', 'Nancy', 1380)
('Table Tennis', 'Coplin', 'Joan', 1380)
('Tennis Court 1', 'Baker', 'Timothy', 1350)
('Snooker Table', 'Owen', 'Charles', 1320)
('Snooker Table', 'Farrell', 'Jemima', 1320)
('Massage Room 1', 'Stibbons', 'Ponder', 1200)
('Massage Room 1', 'Jones', 'David', 1200)
('Snooker Table', 'Tracy', 'Burton', 1200)
('Snooker Table', 'Stibbons', 'Ponder', 1200)
('Massage Room 1', 'Dare', 'Nancy', 1140)
('Pool Table', 'Worthington-Smyth', 'Henry', 1110)
('Badminton Court', 'Boothe', 'Tim', 1080)
('Badminton Court', 'Smith', 'Jack', 1080)
('Snooker Table', 'Sarwin', 'Ramnaresh', 1080)
('Tennis Court 2', 'Sarwin', 'Ramnaresh', 1080)
('Table Tennis', 'Pinker', 'David', 1020)
('Tennis Court 2', 'Dare', 'Nancy', 990)
('Snooker Table', 'Pinker', 'David', 960)
('Table Tennis', 'Mackenzie', 'Anna', 960)
('Badminton Court', 'Dare', 'Nancy', 900)
('Badminton Court', 'Baker', 'Anne', 900)
('Pool Table', 'Tracy', 'Burton', 900)
('Squash Court', 'Smith', 'Darren', 900)
('Squash Court', 'Joplette', 'Janice', 900)
('Pool Table', 'Smith', 'Darren', 840)
('Snooker Table', 'Rumney', 'Henrietta', 840)
('Badminton Court', 'Bader', 'Florence', 810)
('Pool Table', 'Joplette', 'Janice', 810)
('Tennis Court 1', 'Jones', 'Douglas', 810)
('Pool Table', 'Boothe', 'Tim', 780)
('Pool Table', 'Farrell', 'David', 750)
('Badminton Court', 'Jones', 'David', 720)
('Massage Room 1', 'Joplette', 'Janice', 720)
('Snooker Table', 'Smith', 'Darren', 720)
('Squash Court', 'Boothe', 'Tim', 720)
('Table Tennis', 'Farrell', 'Jemima', 720)
('Tennis Court 2', 'Joplette', 'Janice', 720)
('Tennis Court 2', 'Bader', 'Florence', 720)
('Pool Table', 'Bader', 'Florence', 690)
('Massage Room 1', 'Owen', 'Charles', 660)
('Squash Court', 'Smith', 'Jack', 660)
('Table Tennis', 'Jones', 'David', 660)
('Badminton Court', 'Farrell', 'Jemima', 630)
('Badminton Court', 'Baker', 'Timothy', 630)
('Badminton Court', 'Pinker', 'David', 630)
('Badminton Court', 'Sarwin', 'Ramnaresh', 630)
('Tennis Court 1', 'Coplin', 'Joan', 630)
('Tennis Court 2', 'Baker', 'Timothy', 630)
('Snooker Table', 'Coplin', 'Joan', 600)
('Pool Table', 'Dare', 'Nancy', 570)
('Badminton Court', 'Owen', 'Charles', 540)
('Pool Table', 'Genting', 'Matthew', 540)
('Squash Court', 'Butters', 'Gerald', 540)
('Table Tennis', 'Joplette', 'Janice', 540)
('Tennis Court 1', 'Rownam', 'Tim', 540)
('Tennis Court 1', 'Baker', 'Anne', 540)
('Tennis Court 1', 'Farrell', 'David', 540)
('Tennis Court 2', 'Rownam', 'Tim', 540)
('Massage Room 1', 'Sarwin', 'Ramnaresh', 480)
('Squash Court', 'Jones', 'David', 480)
('Squash Court', 'Farrell', 'Jemima', 480)
('Badminton Court', 'Worthington-Smyth', 'Henry', 450)
('Tennis Court 1', 'Sarwin', 'Ramnaresh', 450)
('Snooker Table', 'Mackenzie', 'Anna', 420)
('Squash Court', 'Owen', 'Charles', 420)
('Table Tennis', 'Purview', 'Millicent', 420)
('Pool Table', 'Sarwin', 'Ramnaresh', 390)
('Badminton Court', 'Rownam', 'Tim', 360)
('Massage Room 1', 'Smith', 'Tracy', 360)
('Pool Table', 'Stibbons', 'Ponder', 360)
('Pool Table', 'Baker', 'Anne', 360)
('Snooker Table', 'Tupperware', 'Hyacinth', 360)
('Squash Court', 'Smith', 'Tracy', 360)
('Tennis Court 1', 'Boothe', 'Tim', 360)
('Tennis Court 1', 'Hunt', 'John', 360)
('Tennis Court 2', 'Hunt', 'John', 360)
('Pool Table', 'Coplin', 'Joan', 330)
('Massage Room 2', 'Dare', 'Nancy', 300)
('Snooker Table', 'Smith', 'Jack', 300)
('Squash Court', 'Baker', 'Timothy', 300)
('Table Tennis', 'Dare', 'Nancy', 300)
('Table Tennis', 'Smith', 'Jack', 300)
('Pool Table', 'Pinker', 'David', 270)
('Pool Table', 'Tupperware', 'Hyacinth', 270)
('Tennis Court 2', 'Butters', 'Gerald', 270)
('Tennis Court 2', 'Tracy', 'Burton', 270)
('Massage Room 2', 'Jones', 'David', 240)
('Pool Table', 'Jones', 'David', 240)
('Table Tennis', 'Boothe', 'Tim', 240)
('Pool Table', 'Smith', 'Jack', 210)
('Badminton Court', 'Tracy', 'Burton', 180)
('Badminton Court', 'Jones', 'Douglas', 180)
('Badminton Court', 'Purview', 'Millicent', 180)
('Badminton Court', 'Hunt', 'John', 180)
('Badminton Court', 'Crumpet', 'Erica', 180)
('Massage Room 1', 'Baker', 'Anne', 180)
('Massage Room 1', 'Pinker', 'David', 180)
('Massage Room 1', 'Hunt', 'John', 180)
('Massage Room 2', 'Sarwin', 'Ramnaresh', 180)
('Pool Table', 'Butters', 'Gerald', 180)
('Squash Court', 'Pinker', 'David', 180)
('Table Tennis', 'Stibbons', 'Ponder', 180)
('Table Tennis', 'Sarwin', 'Ramnaresh', 180)
('Table Tennis', 'Worthington-Smyth', 'Henry', 180)
('Tennis Court 2', 'Smith', 'Tracy', 180)
('Pool Table', 'Purview', 'Millicent', 150)
('Massage Room 1', 'Crumpet', 'Erica', 120)
('Massage Room 2', 'Rownam', 'Tim', 120)
('Massage Room 2', 'Joplette', 'Janice', 120)
('Massage Room 2', 'Owen', 'Charles', 120)
('Massage Room 2', 'Baker', 'Anne', 120)
('Massage Room 2', 'Bader', 'Florence', 120)
('Massage Room 2', 'Coplin', 'Joan', 120)
('Snooker Table', 'Jones', 'David', 120)
('Squash Court', 'Stibbons', 'Ponder', 120)
('Squash Court', 'Bader', 'Florence', 120)
('Squash Court', 'Mackenzie', 'Anna', 120)
('Squash Court', 'Sarwin', 'Ramnaresh', 120)
('Squash Court', 'Rumney', 'Henrietta', 120)
('Table Tennis', 'Crumpet', 'Erica', 120)
('Badminton Court', 'Tupperware', 'Hyacinth', 90)
('Pool Table', 'Rumney', 'Henrietta', 90)
('Tennis Court 1', 'Stibbons', 'Ponder', 90)
('Tennis Court 1', 'Farrell', 'Jemima', 90)
('Tennis Court 1', 'Bader', 'Florence', 90)
('Tennis Court 1', 'Genting', 'Matthew', 90)
('Tennis Court 1', 'Crumpet', 'Erica', 90)
('Tennis Court 2', 'Farrell', 'Jemima', 90)
('Tennis Court 2', 'Smith', 'Jack', 90)
('Tennis Court 2', 'Rumney', 'Henrietta', 90)
('Tennis Court 2', 'Farrell', 'David', 90)
('Tennis Court 2', 'Purview', 'Millicent', 90)
('Massage Room 1', 'Mackenzie', 'Anna', 60)
('Massage Room 1', 'Coplin', 'Joan', 60)
('Massage Room 1', 'Worthington-Smyth', 'Henry', 60)
('Massage Room 1', 'Tupperware', 'Hyacinth', 60)
('Massage Room 2', 'Butters', 'Gerald', 60)
('Massage Room 2', 'Smith', 'Jack', 60)
('Massage Room 2', 'Genting', 'Matthew', 60)
('Pool Table', 'Jones', 'Douglas', 60)
('Snooker Table', 'Genting', 'Matthew', 60)
('Snooker Table', 'Farrell', 'David', 60)
('Snooker Table', 'Purview', 'Millicent', 60)
('Squash Court', 'Coplin', 'Joan', 60)
('Squash Court', 'Jones', 'Douglas', 60)
('Squash Court', 'Farrell', 'David', 60)
('Squash Court', 'Purview', 'Millicent', 60)
('Squash Court', 'Tupperware', 'Hyacinth', 60)
('Squash Court', 'Hunt', 'John', 60)
('Table Tennis', 'Butters', 'Gerald', 60)
('Table Tennis', 'Baker', 'Anne', 60)
('Table Tennis', 'Hunt', 'John', 60)
('Pool Table', 'Owen', 'Charles', 30)
('Pool Table', 'Farrell', 'Jemima', 30)